.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../public/img/header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.carrito {
    background-color: transparent;
    border: none;
    max-width: 2rem;
    position: relative;
    z-index: 100;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
